.Parcelador{
    border: solid 2px rgb(192, 184, 184);  
    border-radius: 2rem; 
    display: flex;
    margin-top: 1rem;
    height: 46rem;
    width: 100;
    flex-direction: column;    
    align-items: center;  
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
}
.filtro-parcelador{
  
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.filtro-parcelador h3{
    font-size: 1.3rem;
}
.filtro-parcelador select{    
    margin-left: 1rem;
    border-radius: 2rem;
    width: 12rem;
    height: 2.5rem;
    text-align: center;
}
.filtro-parcelador svg{
    margin-left: 1rem;
   
}
.filtro-parcelador svg:hover{
    transform: scale(1.2,1.2);
    cursor: pointer;
}
.filtro-parcelador button{
    margin-left: 2rem;
    width: 20rem;
    height: 4rem;
    border-radius: 2rem;
    border: solid 2px gainsboro;
    background-color: rgb(43, 60, 84);
    color: white;
    font-size: 1.4rem;
    font-weight: 700;
    transition-duration: 0.3s;    
}
.filtro-parcelador button:hover{
    background-color: azure;
    color: black;
    cursor: pointer;
    transform: scale(1.1,1.1);
    font-size: 1.5rem;

}
