.TablaVerEstudiante{    
    height: 47rem;
    border-radius: 1rem;
    width: 120rem;
    overflow-y: scroll;     
    background-color: aliceblue; 
    border: solid 2px rgb(178, 185, 187); 

}

.tabla-interna table {   
    width: 100%; 
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: left; 
    border-collapse: collapse;
  
}

.tabla-interna tr, th{
    padding: 10px;
}

.tabla-interna thead{   
    background-color: rgb(16, 55, 128);
    border-bottom: solid 5px #0F362D;
    color: white;
    text-align: center;
         
}
.tabla-interna tr:nth-child(even){
    background-color: #ddd;
    border-bottom: solid 2px gray;
}
.tabla-interna tr:nth-child(odd){
    border-bottom: solid 2px gray;
}
.tabla-estudiante{
    font-size: 1.3rem;
    font-weight: 700; 
}
.img-accion img{
   width: 2rem;
}
.img-accion img:hover{
    transform: scale(1.2, 1.2);
    cursor: pointer;
}
