:root{
    --color-main: #243b22;   
}
/*Header*/
.header{
    border: 1px solid black;
    padding: 5px;
    
}
.header .info-institucion{
    display: flex;
    justify-content: space-between;
    text-align: center;
    
}
.header .info-institucion .acciones{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content:center;
   
}
.header .info-institucion button{
    background-color:green;
    color: white;
    font-weight: bold;
    border: none;
    height: 25px;
    border-radius: 10px;
    min-width: 150px;
    margin-right: 3rem;
}
.header .info-institucion button:hover{
    background-color: orange;
    color: black;
    cursor: pointer;
    transform: scale(1.1,1.1);
}

.header .info-institucion:first-child img{
    width: 100px;
    height: 100px;
    margin-left: 3rem;
}
.header .info-seguimiento{
    border-top: 1px solid black;
    display: flex;
    justify-content: space-evenly;
}
.header .info-seguimiento p{
    font-weight: bold;
    font-size: 14px;
}
.header .info-seguimiento span{
    font-weight: normal;
}

.header h1,h4{
    margin: 0;
    
}

/*CONTENIDO TABLA*/
.outer-wrapper-estudiantes {
    margin: 1rem;
    margin-left: 20px;   
    width: 100%;
    height: 50rem;
}
.table-wrapper-estudiantes {
    overflow-y: scroll;
    height: 53rem;    
    margin-top: 2rem;   
    padding-bottom: -100px;  
}
.tabla-academico{    
    border-collapse: separate;
    border-spacing: 0px;    
    
}


.tabla-academico th{ 
    background-color: rgb(202, 202, 200);      
    color: rgb(7, 7, 7);
    text-align: center;
    font-weight: normal;
    font-size: 14px; 
    font-weight: 700;
    border: 1.5px solid black;
}

.tabla-academico th:first-child.info-estudiante{
    width: 32%;
} 

.tabla-academico th:nth-child(2){
    width: max-content;
   
}
table th:last-child.definitiva{
    background-color: orange;
    width: 0.7%;
}


.tabla-academico td {
    text-align: center;
    font-size: 1.2rem;
    border: 1px solid rgb(177, 177, 177); 
   
}
.tabla-academico tr{
    font-weight: bold;

}
.input{
    width: 50px;
}









