.ModalVerParcelador{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    display: flex;  
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.overlay-none{
    display: none;
}
.contenedor-verParcelador{
    width:90rem;
    height: 62rem;
    background: rgb(212, 209, 209);
    position:relative;
    border-radius: 2rem;
    padding: 1rem;    
    display: flex;
    flex-direction: column;
    align-items: center;
   
   
}
.encab-modal-titulo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.7rem;

}
.salir-modal{
   
    position: absolute;
    top: 8px;
    right: 0;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    font-weight: 700;  
    color: gray;
    border-radius: 50%;
    border: solid 2px rgb(95, 89, 89); 
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-right: 1rem; 
    transition: .4s ease all;   
}
.salir-modal:hover{
    cursor: pointer;
    transform: scale(1.2,1.2);
}

/* Datos institucion */

.contenido-header{ 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.8rem;
    
}
.contenido-header label{
    width: 10rem;
    height: 3rem;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 700;
    text-align: left;
    border-bottom: solid 1px rgb(184, 182, 182);
    
}

.cont-verParcelador{
   
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 45rem;
    margin-top: 1rem;
    overflow-y: scroll;
 
    
}
.cont-verParcelador h3{
    font-size: 1.4rem;
    text-align: center;
    font-weight: 700;       
}

.cont-verParcelador label{  
    font-size: 1.4rem;
  
}



