.seleccionar-asignatura{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    display: flex;  
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.overlay-none{
    display: none;
}
.contenedor-asignatura{
    width:35rem;
    height: 40rem;
    background: #fff;
    position:relative;
    border-radius: 5px;
    padding: 1rem;    
    display: flex;
    flex-direction: column;
    align-items: center;
   
   
}
.encab-modal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.7rem;

}
.salir-modal{
   
    position: absolute;
    top: 2px;
    right: 0;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    font-weight: 700;  
    color: gray;
    border-radius: 50%;
    border: solid 2px rgb(95, 89, 89); 
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-right: 1rem; 
    transition: .4s ease all;  
   }
.salir-modal:hover{
    cursor: pointer;
    transform: scale(1.2,1.2);
}
.btn-asignatura{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.btn-sel-asg{
    border-radius: 2rem;
    height: 3.3rem;
    width: 12rem;
    margin: 0 1rem;
    font-size: 1.4rem;
    font-weight: 700;
    background-color: rgb(200, 241, 200);
    transition-duration: 0.3s;
}
.btn-sel-asg:hover{
    background-color: rgb(194, 194, 156);
    cursor: pointer;
    transform: scale(1.1,1.1);
}
